<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center" class="nav">

  <!-- left box of toolbar starts -->
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-icon-button matTooltip="Sidebar" (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <a mat-icon-button matTooltip="Dashboard" [routerLink]="[ '/dashboard' ]">
      <mat-icon>home</mat-icon>
    </a>
    <span>Hotel Reservation</span>
  </div>
  <!-- left box of toolbar ends -->

  <!-- center box of toolbar starts -->
  <div>
    <button type="button" mat-stroked-button (click)="showStatistics = !showStatistics" fxHide.lt-md="true" matTooltip="Click to expand / collapse Statistics" matTooltipPosition="right" matTooltipClass="yellow-back" matTooltipShowDelay="200">
      <mat-icon>analytics</mat-icon>
      <span class="ml mr">Statistics</span>
      <mat-icon class="rotatable" [ngClass]="{ 'rotate-180': showStatistics}">keyboard_arrow_down</mat-icon>
    </button>
  </div>
  <!-- center box of toolbar ends -->

  <!-- right box of toolbar starts -->
  <div>
    <button type="button" mat-stroked-button class="mr" fxHide.lt-md="true" [matMenuTriggerFor]="user" matTooltip="User" matTooltipClass="yellow-back">
      <mat-icon>account_circle</mat-icon> User
    </button>

    <button type="button" mat-icon-button [matMenuTriggerFor]="notifications" class="ml mr" matTooltip="Notifications" matTooltipClass="yellow-back">
      <mat-icon matBadge="2" matBadgeColor="accent">notifications</mat-icon>
    </button>

    <button type="button" mat-icon-button [matMenuTriggerFor]="topmenu" matTooltip="Menu" matTooltipClass="yellow-back">
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>
  <!-- right box of toolbar ends -->

  <!-- menu starts -->
  <mat-menu #topmenu="matMenu">
    <a [routerLink]="[ '/dashboard' ]" mat-menu-item>Dashboard</a>
    <button mat-menu-item [matMenuTriggerFor]="bookings">Bookings</button>
    <button mat-menu-item [matMenuTriggerFor]="user">User</button>
    <button mat-menu-item>Statistics</button>
  </mat-menu>

  <mat-menu #bookings="matMenu">
    <a [routerLink]="[ '/booking' ]" mat-menu-item>New Booking</a>
    <a [routerLink]="[ '/bookings-list' ]" mat-menu-item>Bookings List</a>
  </mat-menu>

  <mat-menu #user="matMenu">
    <button mat-menu-item>Profile</button>
    <button mat-menu-item>Change Password</button>
    <button mat-menu-item>Logout</button>
  </mat-menu>

  <mat-menu #notifications="matMenu">
    <button mat-menu-item>
      <mat-icon>email</mat-icon> Email from John
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item>
      <mat-icon>receipt_long</mat-icon> Send Bills to Customers
    </button>
  </mat-menu>
  <!-- menu ends -->
</mat-toolbar>

<mat-expansion-panel [expanded]="showStatistics">
  <div class="mt" fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="20px">
    <div class="font-weight-bold">Bookings Summary:</div>

    <div matTooltip="Total Bookings in this week" matRipple class="p-10 hand-icon">
      <div>This Week:</div>
      <div class="font-weight-bold">108 Bookings</div>
    </div>

    <div matTooltip="Total Bookings in this month" matRipple class="p-10 hand-icon">
      <div>This Month:</div>
      <div class="font-weight-bold">595 Bookings</div>
    </div>

    <div matTooltip="Total Bookings in this year" matRipple class="p-10 hand-icon">
      <div>This Year:</div>
      <div class="font-weight-bold">5894 Bookings</div>
    </div>

  </div>
</mat-expansion-panel>

<mat-drawer-container class="drawer-container">
  <mat-drawer #drawer class="drawer" mode="push" opened="false">
    <div class="user-logo">
      <mat-icon class="user-icon">person_outline</mat-icon>
      <div class="v-align-middle">User</div>
    </div>
    <mat-divider></mat-divider>
    <mat-nav-list class="sidebar-navlist">
      <a [routerLink]="[ '/dashboard' ]" mat-list-item routerLinkActive="link-active">Dashboard</a>
      <a [routerLink]="[ '/bookings-list' ]" mat-list-item routerLinkActive="link-active">Bookings List</a>
      <a [routerLink]="[ '/booking' ]" mat-list-item routerLinkActive="link-active">New Booking</a>
    </mat-nav-list>
  </mat-drawer>

  <div class="main">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
