// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  height: 100%;
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light dark;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
  height: 100%;
}


.warn
{
  @include mat.theme((
    color: mat.$red-palette
  ));
}

.accent
{
  @include mat.theme((
    color: mat.$rose-palette
  ));
}


.primary-toolbar {
  --mat-toolbar-container-background-color: var(--mat-sys-primary);
  --mat-toolbar-container-text-color: var(--mat-sys-on-primary);
}



.success-snackbar {
  @include mat.snack-bar-overrides((
    container-color: #4caf50,
    supporting-text-color: white,
    button-color: white
  ));
}

.error-snackbar {
  @include mat.snack-bar-overrides((
    container-color: #f44336,
    supporting-text-color: white,
    button-color: white
  ));
}

.warning-snackbar {
  @include mat.snack-bar-overrides((
    container-color: #ff9800,
    supporting-text-color: white,
    button-color: white
  ));
}


// Progress Spinner color customization
.accent-spinner {
  @include mat.progress-spinner-overrides((
    active-indicator-color: var(--mat-sys-secondary)
  ));
}

.warn-spinner {
  @include mat.progress-spinner-overrides((
    active-indicator-color: var(--mat-sys-error)
  ));
}

// Progress Bar color customization
.accent-bar {
  @include mat.progress-bar-overrides((
    active-indicator-color: var(--mat-sys-secondary),
    track-color: var(--mat-sys-secondary-container)
  ));
}

.warn-bar {
  @include mat.progress-bar-overrides((
    active-indicator-color: var(--mat-sys-error),
    track-color: var(--mat-sys-error-container)
  ));
}
