.primary-toolbar {
  background-color: var(--mat-sys-primary);
  color: var(--mat-sys-on-primary);
}

.nav-item {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding: 12px 16px;
  gap: 12px;
}

.content {
  padding: 24px;
}
