<form>
  <div class="row">
    <div class="col-lg-6 col-xl-5 col-md-9 mx-auto">
      <div class="card mt-4">
        <div class="card-header bg-secondary text-white">
          <h3>Login</h3>
          <div appAlert></div>
        </div>
        <div class="card-body">
          <div class="form-group form-row">
            <label for="UserName" class="col-md-4 col-form-label">Username</label>
            <div class="col-md-8">
              <input type="text" class="form-control" placeholder="Username" [(ngModel)]="loginViewModel.UserName" name="UserName" autofocus="autofocus">
            </div>
          </div>

          <div class="form-group form-row">
            <label for="Password" class="col-md-4 col-form-label">Password</label>
            <div class="col-md-8">
              <input type="password" class="form-control" placeholder="Password" [(ngModel)]="loginViewModel.Password" name="Password">
            </div>
          </div>

        </div>

        <div class="card-footer text-right">
          <span class="text-danger">{{loginError}}&nbsp;</span>
          <button class="btn btn-primary" (click)="onLoginClick($event)">Login</button>
        </div>
      </div>
    </div>
  </div>
</form>