.container
{
  padding: 24px;
}


.example-card {
  max-width: 400px;
}

.example-avatar {
  background-image: url('https://material.angular.dev/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.footer-text {
  padding: 0 16px;
  font-size: 12px;
  color: gray;
}


.spacer {
  flex: 1 1 auto;
}

.primary-toolbar button
{
  color: #ffffff;
}

mat-sidenav-container {
  height: calc(100vh - 64px);
}

mat-sidenav {
  width: 250px;
  padding: 16px 0;
  padding-left: 15px;
}

.nav-item {
  width: 100%;
  justify-content: flex-start;
  padding: 8px 16px;
  gap: 16px;
}
