<div class="dashboard-container">
 <h2 [style.color]="statusColor">Sales Dashboard</h2>

 <div class="metrics-section">
  <h3>Performance Metrics</h3>

  <div class="metric-cards">
   <div class="metric-card" 
   [class.success]="salesValue >= targetValue"
   [class.danger]="salesValue < targetValue">
    <div class="label">Current Sales</div>
    <div class="value" [style.color]="salesValue >= targetValue ? 'green' : 'red'">${{salesValue}}</div>

    @if (salesValue > targetValue)
    {
     <div class="badge">Target Exceeded!</div>
    }
    @else
    {
     <div class="badge-warning">Below Target</div>
    }
   </div>

   <div class="metric-card">
    <div class="label">Sales Target</div>
    <div class="value">${{targetValue}}</div>
   </div>

   <div [class]="getPerformanceClass() + ' metric-card'">
    <div class="label">Target Achieved</div>
    <div class="value" 
    [style.font-size.px]="fontSize"
    [style.color]="getPerformanceColor()"
    >
    {{ (salesValue / targetValue * 100).toFixed(1)}} %
   </div>
   </div>
  </div>
  </div>

  @if (shouldShowWarning())
  {
   <div class="warning-message">
    Warning: Sales are critically low!
   </div>
  }
  @else
  {
   <div class="success-message">
    Great Job! Sales are on track.
   </div>
  }

  <div class="status-section">
   <h3>System Status</h3>
   <div class="status-indicator"
   [ngClass]="{'success': isActive, 'danger': !isActive, 'highlight': true }" 
   [style]="{ 
    'padding' : '10px',
    'border-radius': '5px'
   }">
    System is {{isActive? 'Active' : 'Inactive'}}
   </div>

   @if (isActive)
   {
    <p>System is running smoothly.</p>
   }
   @else
   {
    <p>System is currently offline.</p>
   }
  </div>

  <div class="employee-section">
   <h3 [ngClass]="[ 'text-center', 'text-large']">Employee List</h3>
   @if (employees && employees.length > 0)
   {
    @for(employee of employees; track employee.id)
    {
     <div class="employee-card" [class.high-salary]="employee.salary > 80000">
      <h4>{{employee.name}}</h4>
      <p>Role: {{employee.role}}</p>
      <p>Salary: ${{employee.salary}}</p>
     </div>
    }
   }

   <h3>High Performers</h3>
   @for (performer of getHighPerformers(); track performer.id)
   {
    <div class="employee-card high-performer">
     <strong>{{performer.name}} - ${{performer.salary}}</strong>
    </div>
    
   }
  </div>
</div>
