<h4>New Booking</h4>

<!-- input -->
<mat-form-field class="w-100" floatLabel="auto" hideRequiredMarker appearance="fill" color="primary">
  <input type="email" matInput placeholder="Enter Customer Email" required="required" />
  <mat-label>Email</mat-label>
  <mat-hint align="end">Up to 30 characters</mat-hint>
  <mat-icon matPrefix>email</mat-icon>
</mat-form-field>

<mat-form-field class="w-100" floatLabel="auto" hideRequiredMarker appearance="outline" color="primary">
  <input type="text" matInput placeholder="Enter Customer Name" required="required" />
  <mat-label>Customer Name</mat-label>
  <mat-hint align="end">Up to 30 characters</mat-hint>
</mat-form-field>

<!-- floatLabel: auto | always | never -->
<!-- align: start | end -->
<!-- appearance: legacy | standard | fill | outline -->

<!-- Basic Button -->
<!-- <div class="mb">
  <button mat-button>Save</button>
  <button mat-button>Cancel</button>
  <button mat-button>Delete</button>
</div> -->

<!-- Color Variants -->
<!-- <div class="mb">
  <button mat-button color="primary" class="mr">Save</button>
  <button mat-button color="accent" class="mr">Cancel</button>
  <button mat-button color="warn" class="mr">Delete</button>
</div> -->

<!-- Flat Buttons -->
<!-- <div class="mb">
  <button mat-flat-button color="primary" class="mr">Save</button>
  <button mat-flat-button color="accent" class="mr">Cancel</button>
  <button mat-flat-button color="warn" class="mr">Delete</button>
</div> -->

<!-- Raised Buttons -->
<!-- <div class="mb">
  <button mat-raised-button color="primary" class="mr">Save</button>
  <button mat-raised-button color="accent" class="mr">Cancel</button>
  <button mat-raised-button color="warn" class="mr">Delete</button>
</div> -->

<!-- Stroked Buttons -->
<div class="mb">
  <button mat-stroked-button color="primary" class="mr">Save</button>
  <button mat-stroked-button color="accent" class="mr">Cancel</button>
  <button mat-stroked-button color="warn" class="mr">Delete</button>
</div>

<!-- disableRipple -->
<!-- <div class="mb">
  <button mat-stroked-button color="primary" class="mr" disableRipple>Save</button>
  <button mat-stroked-button color="accent" class="mr" disableRipple>Cancel</button>
  <button mat-stroked-button color="warn" class="mr" disableRipple>Delete</button>
</div> -->

<!-- Icon Buttons -->
<!-- <div class="mb">
  <button mat-icon-button color="primary" class="mr">
    <mat-icon>save</mat-icon>
  </button>
  <button mat-icon-button color="accent" class="mr">
    <mat-icon>cancel</mat-icon>
  </button>
  <button mat-icon-button color="warn" class="mr">
    <mat-icon>delete</mat-icon>
  </button>
</div> -->

<!-- Fab -->
<!-- <div class="mb">
  <button mat-fab color="primary" class="mr">
    <mat-icon>save</mat-icon>
  </button>
  <button mat-fab color="accent" class="mr">
    <mat-icon>cancel</mat-icon>
  </button>
  <button mat-fab color="warn" class="mr">
    <mat-icon>delete</mat-icon>
  </button>
</div> -->

<!-- Mini-Fab -->
<!-- <div class="mb">
  <button mat-mini-fab color="primary" class="mr">
    <mat-icon>save</mat-icon>
  </button>
  <button mat-mini-fab color="accent" class="mr">
    <mat-icon>cancel</mat-icon>
  </button>
  <button mat-mini-fab color="warn" class="mr">
    <mat-icon>delete</mat-icon>
  </button>
</div> -->
