<div class="notification-header text-black">
  <span [ngClass]="textCssClass">{{data.messageType | titlecase}}</span>
  <mat-icon class="float-right hand-icon text-black" matRipple (click)="snackBarRef.dismiss()">close</mat-icon>
</div>

<div class="notification-icon">
  <mat-icon class="text-largest" [ngClass]="textCssClass">
    {{data.messageType == "success"? 'check_circle': 'error'}}
  </mat-icon>
</div>

<div class="notification-message" [ngClass]="textCssClass">{{data.message}}</div>

<div class="text-right mb p mr text-black">
  <button mat-stroked-button color="primary" (click)="snackBarRef.dismiss()">{{data.buttonText}}</button>
</div>
