<h4>New Booking</h4>
<form [formGroup]="formGroup">
  <!-- input -->
  <mat-form-field class="w-100" floatLabel="auto" appearance="standard" color="primary">
    <input type="email" matInput placeholder="Enter Customer Email" formControlName="email" [errorStateMatcher]="customErrorStateMatcher" />
    <mat-label>Email</mat-label>
    <mat-hint align="end">Up to 30 characters</mat-hint>
    <mat-icon matPrefix>email</mat-icon>

    <mat-error *ngIf="getFormControl('email').hasError('required')" [innerHTML]="getErrorMessage('email', 'required')"></mat-error>

    <mat-error *ngIf="getFormControl('email').hasError('email')" [innerHTML]="getErrorMessage('email', 'email')"></mat-error>
  </mat-form-field>

  <mat-form-field class="w-100" floatLabel="auto" appearance="standard" color="primary">
    <input type="text" matInput placeholder="Enter Customer Name" formControlName="customerName" [errorStateMatcher]="customErrorStateMatcher" />
    <mat-label>Customer Name</mat-label>
    <mat-hint align="end">Up to 30 characters</mat-hint>
    <mat-icon matPrefix>person</mat-icon>

    <mat-error *ngIf="getFormControl('customerName').hasError('required')" [innerHTML]="getErrorMessage('customerName', 'required')"></mat-error>

    <mat-error *ngIf="getFormControl('customerName').hasError('pattern')" [innerHTML]="getErrorMessage('customerName', 'pattern')"></mat-error>

    <mat-error *ngIf="getFormControl('customerName').hasError('maxlength')" [innerHTML]="getErrorMessage('customerName', 'maxlength')"></mat-error>
  </mat-form-field>

  <mat-form-field class="w-100" floatLabel="auto" appearance="standard" color="primary">
    <mat-select formControlName="country">
      <mat-option *ngFor="let country of countries" [value]="country.id">{{country.countryName}}</mat-option>
    </mat-select>
    <mat-label>Country</mat-label>
    <mat-hint align="end">Choose a country</mat-hint>
    <mat-icon matPrefix>place</mat-icon>

    <mat-error *ngIf="getFormControl('country').hasError('required')" [innerHTML]="getErrorMessage('country', 'required')"></mat-error>
  </mat-form-field>

  <!-- Stroked Buttons -->
  <div class="mb mt">
    <button mat-stroked-button color="primary" class="mr">Save</button>
    <button mat-stroked-button color="accent" class="mr" type="button">Cancel</button>
    <button mat-stroked-button color="warn" class="mr" type="button">Delete</button>
  </div>

  <div>
    {{formGroup.value | json}}
  </div>

</form>
