<!-- Heading Starts -->
<h5>
  Countries
  <i class="fa fa-circle-o-notch fa-spin" style="font-size:24px" *ngIf="showLoading"></i>
</h5>
<!-- Heading Ends -->

<div class="row">

  <!-- Create Box and Search Box Starts -->
  <div class="col-xl-12">
    <div class="form-group row">

      <div class="col-md-12 col-lg-12 col-xl-2">
        <button class="btn btn-primary" data-toggle="modal" data-target="#newCountryModal"
          (click)="onNewClick($event)">Create Country</button>
      </div>

      <label for="drpSearchBy" class="col-form-label col-md-6 col-lg-2 offset-xl-1 col-xl-2 text-right">Search
        by:</label>

      <div class="col-md-6 col-lg-4 col-xl-3">
        <select class="form-control" id="drpSearchBy" name="SearchBy" [(ngModel)]="searchBy">
          <option value="countryName">Country Name</option>
        </select>
      </div>

      <label for="textSearchText" class="col-form-label col-md-6 col-lg-2 col-xl-1 text-right">Search:</label>

      <div class="col-md-6 col-lg-4 col-xl-3">
        <div class="input-group">
          <input type="text" class="form-control" id="txtSearchText" name="SearchText" [(ngModel)]="searchText"
            (keyup)="onSearchTextChange($event)">
        </div>
      </div>
    </div>
  </div>
  <!-- Create Box and Search Box Ends -->

  <!-- Grid Box Starts -->
  <div class="col-xl-12">
    <div class="row">
      <div class="col-xl-8 col-lg-9 mx-auto">
        <table class="table">
          <tr class="table-dark text-dark">
            <th>
              Country Name
            </th>

            <th class="text-center" style="width:200px">Actions</th>
          </tr>

          <tr
            *ngFor="let country of countries | filter: searchBy : searchText | paging : currentPageIndex : pageSize; let i = index">
            <td>{{country.countryName}}</td>
            <td class="text-center">
              <button class="btn btn-info" (click)="onEditClick($event, country)" data-toggle="modal"
                data-target="#editCountryModal">Edit</button>&nbsp;
              <button class="btn btn-warning" (click)="onDeleteClick($event, country)" data-toggle="modal"
                data-target="#deleteCountryModal">Delete</button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <!-- Grid Box Ends -->

  <!-- Paging Box Starts -->
  <div class="col-12">
    <ul class="pagination justify-content-center mt-1">
      <li class="page-item" (click)="onPageIndexClicked(currentPageIndex - 1)">
        <a class="page-link bg-secondary text-white" href="#" onclick="return false">Prev</a>
      </li>

      <ng-container *ngIf="pages.length <= 10">
        <li class="page-item" *ngFor="let page of pages" [ngClass]="{ 'active': page.pageIndex == currentPageIndex}"
          (click)="onPageIndexClicked(page.pageIndex)">
          <a class="page-link" href="#" onclick="return false">{{page.pageIndex + 1}}</a>
        </li>
      </ng-container>

      <ng-container *ngIf="pages.length > 10">
        <li class="page-item" [ngClass]="{ 'active': currentPageIndex == 0}" (click)="onPageIndexClicked(0)">
          <a class="page-link" href="#" onclick="return false">1</a>
        </li>

        <li class="page-item" [ngClass]="{ 'active': currentPageIndex == 1}" (click)="onPageIndexClicked(1)">
          <a class="page-link" href="#" onclick="return false">2</a>
        </li>

        <li *ngIf="currentPageIndex > 1 && currentPageIndex < pages.length - 2">&nbsp;...&nbsp;</li>

        <li class="page-item" [ngClass]=" 'active' " (click)="onPageIndexClicked(currentPageIndex)"
          *ngIf="currentPageIndex > 1 && currentPageIndex < pages.length - 2">
          <a class="page-link" href="#" onclick="return false">{{currentPageIndex + 1}}</a>
        </li>

        <li>&nbsp;...&nbsp;</li>

        <li class="page-item" [ngClass]="{ 'active': currentPageIndex == pages.length - 2}"
          (click)="onPageIndexClicked(pages.length - 2)">
          <a class="page-link" href="#" onclick="return false">{{pages.length - 1}}</a>
        </li>

        <li class="page-item" [ngClass]="{ 'active': currentPageIndex == pages.length - 1}"
          (click)="onPageIndexClicked(pages.length - 1)">
          <a class="page-link" href="#" onclick="return false">{{pages.length}}</a>
        </li>
      </ng-container>

      <li class="page-item" (click)="onPageIndexClicked(currentPageIndex + 1)">
        <a class="page-link bg-secondary text-white" href="#" onclick="return false">Next</a>
      </li>
    </ul>
  </div>
  <!-- Paging Box Ends -->

</div>


<!-- New Modal Starts -->
<form novalidate="novalidate" [formGroup]="newForm">
  <div class="modal" role="dialog" id="newCountryModal">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header bg-primary text-white">
          <div class="modal-title">New Country</div>
          <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
        </div>
        <div class="modal-body">

          <div class="form-group row">
            <label for="txtNewCountryName" class="col-sm-4 col-form-label">Country Name *</label>
            <div class="col-sm-8">
              <input type="text" id="txtNewCountryName" class="form-control" placeholder="Country Name"
                name="CountryName" formControlName="countryName" maxlength="30" #defaultTextBox_New
                [ngClass]="{ 'is-invalid': newForm.get('countryName').invalid && (newForm.get('countryName').dirty || newForm.get('countryName').touched || newForm.submitted), 'is-valid': newForm.get('countryName').valid && (newForm.get('countryName').dirty || newForm.get('countryName').touched || newForm.submitted) }">

              <span class="text-danger"
                *ngIf="newForm.get('countryName').invalid && (newForm.get('countryName').dirty || newForm.get('countryName').touched || newForm.submitted) && newForm.get('countryName').errors?.required">Country
                Name can't be blank</span>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button class="btn btn-warning" data-dismiss="modal" id="newCountryFormCancel" type="button">Cancel</button>
          <button class="btn btn-success" (click)="onSaveClick()">Save</button>
        </div>
      </div>
    </div>
  </div>
</form>
<!-- New Modal Ends -->


<!-- Edit Modal Starts -->
<form novalidate="novalidate" [formGroup]="editForm">
  <div class="modal" role="dialog" id="editCountryModal">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header bg-primary text-white">
          <div class="modal-title">Edit Country</div>
          <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
        </div>
        <div class="modal-body">

          <div class="form-group row">
            <label for="txtEditCountryName" class="col-sm-4 col-form-label">Country Name *</label>
            <div class="col-sm-8">
              <input type="text" id="txtEditCountryName" class="form-control" placeholder="Country Name"
                name="CountryName" formControlName="countryName" maxlength="30" #defaultTextBox_Edit
                [ngClass]="{ 'is-invalid': editForm.get('countryName').invalid && (editForm.get('countryName').dirty || editForm.get('countryName').touched || editForm.submitted), 'is-valid': editForm.get('countryName').valid && (editForm.get('countryName').dirty || editForm.get('countryName').touched || editForm.submitted) }">

              <span class="text-danger"
                *ngIf="editForm.get('countryName').invalid && (editForm.get('countryName').dirty || editForm.get('countryName').touched || editForm.submitted) && editForm.get('countryName').errors?.required">Country
                Name can't be blank</span>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button class="btn btn-warning" data-dismiss="modal" id="editCountryFormCancel" type="button">Cancel</button>
          <button class="btn btn-success" (click)="onUpdateClick()">Update</button>
        </div>
      </div>
    </div>
  </div>
</form>
<!-- Edit Modal Ends -->


<!-- Delete Modal Starts -->
<form>
  <div class="modal" role="dialog" id="deleteCountryModal">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header bg-primary text-white">
          <div class="modal-title">Delete Country</div>
          <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
        </div>
        <div class="modal-body">

          <div class="text-warning">Are you sure to delete this Country?</div>

          <div class="form-group row">
            <label for="txtDeleteCountryName" class="col-sm-4 col-form-label">Country Name</label>
            <div class="col-sm-8">
              <input type="text" id="txtDeleteCountryName" class="form-control-plain-text" style="width:300px"
                placeholder="Country Name" name="CountryName" [(ngModel)]="deleteCountry.countryName"
                disabled="disabled">
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button class="btn btn-warning" data-dismiss="modal" type="button">Cancel</button>
          <button class="btn btn-danger" data-dismiss="modal" (click)="onDeleteConfirmClick()">Delete</button>
        </div>
      </div>
    </div>
  </div>
</form>
<!-- Delete Modal Ends -->