.container
{
  padding: 24px;
}


.example-card {
  max-width: 400px;
}

.example-avatar {
  background-image: url('https://material.angular.dev/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.footer-text {
  padding: 0 16px;
  font-size: 12px;
  color: gray;
}

