<h1>Projects</h1>
<div class="row">
  <div class="col-8 mx-auto">
    <table class="table">
      <thead>
        <th>Project ID</th>
        <th>Project Name</th>
        <th>Date of Start</th>
        <th>Team Size</th>
      </thead>
      <tbody>
        <tr *ngFor="let project of projects">
          <td>{{project.projectID}}</td>
          <td>{{project.projectName}}</td>
          <td>{{project.dateOfStart}}</td>
          <td>{{project.teamSize}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

